.coin-holder {
    position: relative;
    text-align: center;
    color: black;
    font-size: 50px;
}

.coin-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toss-coin {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 15px;
    transition: all 1s linear;
}

.toss-coin:active {
    transform: rotateX(1800deg) scale(1);
}

@keyframes coin-toss {
    from  {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(720deg);
    }
} 